.header-content {
    display: flex; 
    align-items: center; 
    gap: 50; 
}

.recipe-grid {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
    padding: 30px 0;
    flex-wrap: wrap;
    margin:0 auto;
    max-width: 1000px;
}

.recipe-card {
    width: 300px; 
    background-color: #f7fcfe; 
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.card-image-container {
    position: relative; 
    height: 250px;
    background-color: #7952b3;
}

.recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.heart-icon {
    position: absolute; 
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 50%; 
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
}

.recipe-title {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 20px 10px 20px;
    line-height: 1.4;
}

.recipe-details {
    display: flex; 
    padding: 10px 20px;
    gap: 30px; 
    font-size: 14px;
    color: #555;
    border-top: 1px solid #eee; 
    margin-top: 10px;
}

.detail-item {
    display: flex;
    align-items: center;
}

.detail-item i {
    margin-right: 5px;
}

.ad-box {
    width: 300px;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-row {
    display: flex;
    justify-content: center;  
    gap: 50px;                
    flex-wrap: nowrap;       
    margin-left: 100px;
}

.subscribe-section {
  background-color: #e9f9ff;
  border-radius: 30px;
  margin: 100px auto;
  padding: 80px 20px;
  max-width: 1100px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.subscribe-container h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.subscribe-container p {
  color: #555;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto 40px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.subscribe-form input {
  padding: 14px 20px;
  border: none;
  border-radius: 30px;
  width: 300px;
  font-size: 1rem;
}

.subscribe-form button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-form button:hover {
  background-color: #333;
}

/* Dekorativ şəkillər */
.subscribe-images img {
  position: absolute;
}

.left-img {
  bottom: 0;
  left: 0;
  width: 200px;
}

.right-img {
  bottom: 0;
  right: 0;
  width: 250px;
}


.main-footer {
    padding: 50px 100px;
}

.footer-top-row {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-info {
    width: 40%;
}


.footer-logo {
    font-style: italic;
    font-size: 25px;
    margin-top: -10px;
}
.footer-description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}


.footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px; 
}


.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 40px;
}

.copyright-text {
    font-size: 14px;
    color: #666;
}

.footer-social-icons i {
    font-size: 20px;
    margin-left: 15px;
    color: black;
    cursor: pointer;
}
